.projects{
    &__list{
        display: flex;
        margin-bottom: 50px;
    }
    &__item{
        margin-right: 20px;
        cursor: pointer;
        font-size: 32px;
        font-weight: 700;
        transition: flex-grow 1s;
     
        
        &:last-child{
            margin-right: 0;
        }
        &.--active{
            position: relative;
            flex-grow: 0.2;
            .projects__item-progress{
                width: 100%;
            }
        }
        &-progress{
            position: relative;
            width: 0;
            height: 3px;
            background: gray;
        }
        .progress{
            
            position: absolute;
            transition: width 5s;
            width: 100%;
            height: 100%;
            background: $gradient;
            left: 0;
            top: 0;
        }
    }
}
.swiper-slide-projects{
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px !important;
    border-radius: 25px;
    width: 80%;
    position: relative;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}